@charset "utf-8";

.hidden {
	display: none;
}

.item{
    display: inline-table;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.weui_cells {
    margin-top: 0;
}
.section {
	padding-left: 15px;
	background-color: lightgray;
}
